global
    log stdout format raw local0
    maxconn 4096

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 60s
    timeout client 60s
    timeout server 60s

frontend ftp_control_frontend
    bind *:30867 name ftp-control
    mode tcp
    default_backend ftp_control_backend

backend ftp_control_backend
    mode tcp

    server ftp_server 113.160.213.18:21 check


frontend ftp_data_frontend
    bind *:60000-63000 name ftp-data
    mode tcp
    default_backend ftp_data_backend

backend ftp_data_backend
    mode tcp

    server ftp_server 113.160.213.18 check port 21
